.DS_Store
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glg
*.gls
*.glsdefs
*.ist
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
*.xmpi
*.synctex(busy)
/_minted-*/
/minted-caches/